<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalDecisions.CrystalReports.Engine" version="10.2.3600" targetFramework="net472" />
  <package id="CrystalDecisions.ReportSource" version="10.2.3600" targetFramework="net472" />
  <package id="CrystalDecisions.Shared" version="10.2.3600" targetFramework="net472" />
  <package id="CrystalDecisions.Windows.Forms" version="10.2.3600" targetFramework="net472" />
</packages>